<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/></head>
<body>
<form th:method="put" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
    <label for="enabled">
        Enabled:
        <input type="checkbox" th:field="*{enabled}" id="enabled"/>
        <p></p>
    </label>
    <label for="username">
        Name:
        <input type="text" th:field="*{username}" id="username"/>
        <p></p>
    </label>
    <label for="city">
        City:
        <input type="text" th:field="*{city}" id="city"/>
        <p></p>
    </label>
    <label for="phone">
        Phone:
        <input type="text" th:field="*{phone}" id="phone"/>
        <p></p>
    </label>
    <label for="email">
        Email:
        <input type="email" th:field="*{email}" id="email"/>
        <p></p>
    </label>
    <label>
        Roles:
        <th:block th:each="role: ${listRoles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
        </th:block>
        <p></p>
    </label>
    <input type="submit" value="Update">
    <form th:action="@{/admin}">
        <input type="submit" value="List of users">
    </form>
</form>
</body>
</html>