<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/></head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Enabled</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td><a th:text="${user.id}"></a></td>
        <td><a th:text="${user.enabled}"></a></td>
        <td><a th:text="${user.username}"></a></td>
        <td><a th:text="${user.city}"></a></td>
        <td><a th:text="${user.phone}"></a></td>
        <td><a th:text="${user.email}"></a></td>
        <td>
            <form th:method="get" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>

<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form th:action="@{/admin/new}">
                <input type="submit" value="Create new user">
            </form>
        </td>
        <td>
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Logout">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
</body>
</html>